<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CRM" connectionString="data source=SQL_CRM_PROD,56743;Integrated Security=false;Initial Catalog=CRM;user id=crmapi_user;password=PEr3ER5t;encrypt=true;trustServerCertificate=true;" providerName="System.Data.SqlClient"/>
    <!-- <add name="CRM" connectionString="data source=SQL_CRM_QA,55462;Integrated Security=false;Initial Catalog=CRM;user id=crmapi_user;password=bUshN1CA;encrypt=true;trustServerCertificate=true;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>